/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Danger Carrie
 Author URI:   http://dangercarrie.com
 Template:     accelerate-theme
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/
@import url("../accelerate-theme/style.css");

.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
    
}
#masthead {
    background: none repeat scroll 0 0 #45ac9d;
}
.button {
    background: none repeat scroll 0 0 #45ac9d;
}

#masthead nav ul li {
	float: left;
	margin: 0 10px;
}
section.featured-work {
	margin-bottom: 50px;

}

section.featured-work h4 {
	text-align: center;
	margin-bottom: 50px;
}
ul.homepage-featured-work li {
	list-style-type: none;
	margin-bottom: 50px;

}
li.individual-featured-work {
	display: block;
	float: left;
	margin-left: 10px;
	clear: initial;
}

/*Blog*/
.blog-post {
	width: 50%;
}
.blog-post h4 {
	font-size: 16px;
	font-family: 'Montserrat';
	color: #a6a6a6;
	text-transform: uppercase;
}
.blog-post h2 {
	font-size: 24px;
	font-family: 'Montserrat';
	font-weight: bold;
}
.blog-post .read-more-link {
	font-size: 24px;
	font-family: 'Montserrat';
	font-weight: bold;
	color: #45ac9d;
	text-transform: uppercase;
}

/*Case Studies*/
article.case-study {
	margin: 40px 0 0;
	overflow: auto;
}
aside.case-study-sidebar {
	float: left;
	width: 300px;
	margin: 0 40px 0 0;
	overflow: hidden;
}
aside.case-study-images {
	float: left;
	width: 606px;
}
.case-study-images img {
	float: left;
	display: block;
	margin-bottom: 50px;
	border: 1px solid #dddddd;
	overflow: auto;

}
#content.contact {
	max-width: 630px;
	margin-left: 15%;
}

.nf-field .nf-field-label label {
    font-weight: normal;
    font-size: .9em;
}
.nf-field-container.textbox-container.label-above,
.nf-field-container.email-container.label-above {
    display: block;
    width: 49%;
    float: left;    
    clear: initial;
}

.nf-field-container.email-container.label-above {
  margin-left: 2%;
}
#nf-field-1, #nf-field-2 {
  height: 40px;
}

#nf-field-4  {
	float: right;
	color: #FFF;
    font-family: 'Montserrat', serif;
  	font-weight: bold;
  	font-size: 18px;
  	padding: 15px 80px;
}


.archive h2 {
	color: #FFF;
    font-family: 'Montserrat', serif;
    font-weight: lighter;
    padding-bottom: 0px;

}
.archive h6 {
	margin-top: 0px;
	color: #909090;
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 30px;
}
